
<div id="intro">
  <header>
    <h1><a href="{{ site.baseurl }}/">{{site.title}}</a></h1>
    <h3>Specialty Coffee</h3>
    <ul class="icons">
      <li><a href="https://www.facebook.com/cravespecialtycoffee/" class="icon solid fa-facebook" aria-label="Github"></a></li>
      <li><a href="https://www.instagram.com/crave.specialtycoffee/?hl=en" class="icon solid fa-instagram" aria-label="Instagram"></a></li>
      <li><a href="https://goo.gl/maps/tF6UWQVMEJqmrYHa6" class="icon solid fa-map-marker-alt" aria-label="Twitter"></a></li> -->
    </ul>
  </header>
</div>
